.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background: url('../../Image/background-main.svg') no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;

}
.wrapper .col h1{
    font-size: 3.0rem;
}
.wrapper .text-sign{
    font-size: 1.5rem;
    font-weight: 100;
}
.wrapper .col, h1, p{
    color: #fff;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    
    flex-wrap: wrap;
}

.styles-box-icons {
        background: #ffff;
        width: 100px;
        height: 100px;
        border-radius: 7px;
        padding: 34px;
}

/* braking-point phone */
@media(max-width: 900px){
    .container{
        background:none;
    }
    
    .col1{
        display: none;
    }
}